<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appRootId %>"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script type="text/javascript">
      window.start('<%= htmlWebpackPlugin.options.appRootId %>');
    </script>
  </body>
</html>